body,
html{
    background-color:#CCC;
}

.search-group{
    padding-top:5%;
    padding-bottom:5%;
    background-color: #333;
    color: white;
}

#search-input{
    margin-top:4%;
}

#search-results{
    padding: 0;
    list-style-type: none;
    margin-top:4%;
}

#search-results > li{
    font-size: 24px;
    background-color: white;
    border-radius: 4px;
    margin: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border:2px solid #333;
    box-shadow: 10px 10px 8px #AAA;

}
