
.ui-helper-hidden-accessible{
    opacity: 0;
}

.lead{
    padding-top:15%;
}

.input-group{
    padding-top:24px;
    margin-top:24px;
}

#ui-id-1{
    list-style-type: none;
    padding-left: 8px;
}
